@model BlogProject.Models.EF.Blog

@{
    ViewBag.Title = "CreatePost";
}

<h2>Create Post</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.Title)
    @Html.TextBoxFor(u => u.Title)
    <br />
    @Html.LabelFor(u => u.BlogBody)
    @Html.TextAreaFor(u => u.BlogBody, new {@class = "form-control", @id="BlogBody"} )

    <p>
        <button type="submit">
            Post
        </button>
    </p>

}
